---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex min-h-[calc(100vh-2rem)] flex-col">
		<h1 class="mb-4 mt-auto text-center text-6xl">It's out.</h1>
		<a
			class="mx-auto mb-auto w-72 cursor-pointer rounded-lg bg-lmp-900 p-4 text-center text-6xl text-lmp-100 transition-transform hover:scale-110 underline underline-offset-8"
			href="/2024/cover">Read it.</a
		>
	</main>
</Layout>
