---
const { target, class: classList } = Astro.props;
---

{
	target ? (
		<a
			class="flex h-full w-full flex-row gap-4 bg-lmp-100 p-4 text-4xl text-lmp-900 border-lmp-900 border-[6px] transition-transform hover:scale-110"
			class:list={classList}
			href={target}
		>
			<slot />
		</a>
	) : (
		<div class="flex h-full w-full"></div>
	)
}
